@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    background-color: #11151C !important;
    font-family: 'Oswald', sans-serif !important;
}

.load{
    text-align: center;
    margin-top: 50px;
}

.bg {
    background-image: url(IMG_8778.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.bg h1{
    color: white;
    text-align: center;
    margin: 0px auto;
    display: block;
    padding-top: 150px;
    font-family: 'Allura', cursive;
}

.bg-dark {
    background-color: #161925  !important;
}

nav.navbar.navbar-expand-md.navbar-light{
    padding-left: 70px;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.dropdown-menu.dropdown-menu-right.show {
    background-color: #161925!important;
}

a {
    color: white !important;
}

dropdown-item:focus, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: black !important;
}

.navbar-light .navbar-toggler-icon{
    background-image: url('./menu.png') !important;
  }

  .Error{
      text-align: center;
      color: white;
  }